/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for the isolated nf-test of BAM_JOINT_GENOTYPING_DEEPVARIANT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Mirrors the relevant bits of conf/modules/joint_genotype.config so the
    subworkflow can be exercised on the generic nf-core test gVCFs (which are
    not DeepVariant gVCFs, hence the default GLnexus config rather than the
    DeepVariant* preset).
----------------------------------------------------------------------------------------
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {

    withName: 'GLNEXUS' {
        ext.prefix = { "joint_genotyping" }
    }

    withName: 'BCFTOOLS_VIEW_JOINT' {
        ext.args   = { "--output-type z --write-index=tbi" }
        ext.prefix = { "joint_genotyping.deepvariant" }
    }

}
